<ion-content class="animated fadeIn login auth-page ion-padding bg">
  <div class="login-content bg">

    <!-- Logo -->
    <div class="ion-text-center animated fadeInDown" style="height: 80%;">
      <div class="logo">

      </div>
      <div class="divContent">
        <div class="help1">
          <ion-text color="tertiary">
            <h2 class="ion-text-center ion-no-margin titleHelp">
              SU EQUIPO SE ENCUENTRA
            </h2>
            <br>
            <h2 class="ion-text-center ion-no-margin titleHelp">
              EN PROCESO DE ACTIVACION
            </h2>
          </ion-text>
        </div>
      </div>
      <div class="divContentHelp">

      </div>

      <div class="textCR">
        Copyright Software 2021
      </div>
    </div>

    <div class="divWait">
      <ion-spinner color="primary">

      </ion-spinner>
    </div>
  </div>
</ion-content>