.logo {
    margin: 16px;
    border-radius: 10%;
    background-position: center;
    background-size: 100%;
    height: 125px;
    background-size: contain;
    background: url("../../assets/imgs/logoApp.svg") no-repeat;
}
@media (max-width: 370px) {
    .helpCenter {
        height: 100%;
    }
}
:host {
    ion-input {
        --color: #455677;
        --border-color: var(--ion-color-primary); // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: var(--ion-color-secondary); // valid underline color
    }

    ion-item {
        .item-inner {
            border-color: none !important;
        }
        --highlight-color-focused: var(--ion-color-primary);
        --border-color: var(--ion-color-primary) !important; // default underline color
    }

    ion-label {
        --color: #93a9d6;
    }
}
ion-item {
    border-color: var(--ion-color-danger, #f1453d);
}

::ng-deep .item .item-inner {
    border-color: none !important;
}

.labelHelp {
    margin: 0 23px;
    //padding-left: 0;
    background: white;
    border-radius: 10px;
    padding-top: 24px;
    padding-bottom: 34px;
}

.divContent {
    height: 80%;
    border-top-left-radius: 60px;
    position: relative;
}

.login-content {
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //  position: absolute;
    z-index: 0;
    //background-image: url("../../assets/imgs/bgPrimary.png") !important;
}
ion-content.newbg {
    --background: url("../../assets/imgs/bgPrimary.png") 0 0/100% 100% no-repeat;
}

.div-newb {
    padding: 0 40px;
}

.moreButLabel {
    color: white;
    font-size: 15px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 20px;
    padding: 0 7px;
}

ion-input {
    --placeholder-color: var(--ion-color-medium);
    --placeholder-opacity: 1;
}
.subtext {
    font-size: 12px;
    margin-top: 4px;
}

.pass {
    font-size: 12px;
}
.labelRegister {
    font-size: 14px;
    color: var(--ion-color-primary);
}

.buttonDiv {
    margin-top: 26px;
}

.newButton {
    height: 56px;
}

.inputLigth {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 10px;
    height: 48px;
    font-size: 14px;
    position: relative;
    z-index: 10;
    color: var(--ion-color-primary);
}
.is-Search {
    position: absolute;
    z-index: 20;
    top: 46px;
    right: 6px;
}

.selectLight {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 26px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 54px;
    height: 52px;
    font-size: 14px;
    position: relative;
    z-index: 10;
    color: var(--ion-color-medium);
}

.divWait {
    text-align: center;
    ion-spinner {
        width: 30px;
        height: 30px;
    }
}
.textCRForget {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: white underline;
    margin-bottom: 46px;
    margin-top: 20px;
}

.textCR {
    color: white;
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: 12px;
}
.textCR-load {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 14px;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
