<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="gotoDashboard()" class="topBut" color="light" fill="outline" icon-only>
        <ion-icon color="light" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="color: white;">TITULO 5</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-margin-top">
    <div class="ion-padding-horizontal ion-margin-top">
      <div class="globalButton-3 ion-margin-vertical">
        <div class="left">
          <ion-icon color="secondary" src="assets/imgs/ico_detalle.svg"></ion-icon>
        </div>
        <div class="mid">
          BOTON 1
          
        </div>
        <div class="right">
          <ion-icon color="light" name="chevron-forward"></ion-icon>
        </div>
      </div>
      <div class="globalButton-3 ion-margin-vertical">
        <div class="left">
          <ion-icon color="secondary" src="assets/imgs/ico_detalle.svg"></ion-icon>
        </div>
        <div class="mid">
          BOTON 2
        </div>
        <div class="right">
          <ion-icon color="light" name="chevron-forward"></ion-icon>
        </div>
      </div>
      <div class="globalButton-3 ion-margin-vertical">
        <div class="left">
          <ion-icon color="secondary" src="assets/imgs/ico_detalle.svg"></ion-icon>
        </div>
        <div class="mid">
          BOTON 3
        </div>
        <div class="right">
          <ion-icon color="light" name="chevron-forward"></ion-icon>
        </div>
      </div>
      <div class="globalButton-3 ion-margin-vertical">
        <div class="left">
          <ion-icon color="secondary" src="assets/imgs/ico_detalle.svg"></ion-icon>
        </div>
        <div class="mid">
          BOTON 4
        </div>
        <div class="right">
          <ion-icon color="light" name="chevron-forward"></ion-icon>
        </div>
      </div>
      <div class="globalButton-3 ion-margin-vertical">
        <div class="left">
          <ion-icon color="secondary" src="assets/imgs/ico_detalle.svg"></ion-icon>
        </div>
        <div class="mid">
          BOTON 5
        </div>
        <div class="right">
          <ion-icon color="light" name="chevron-forward"></ion-icon>
        </div>
      </div>
    </div>
  </div>

</ion-content>
