<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="color: white;">TITULO 3</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="ion-margin-top ion-padding-horizontal">
    <div class="div-area">

    </div>
    <div class="ion-margin-top">
      <ion-row class="ion-margin-bottom">
        <ion-col size="6" style="padding-left: 0 !important;">
          <ion-button expand="block" icon-only color="primary">
            <ion-icon color="light" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" style="padding-right: 0 !important;">
          <ion-button expand="block" icon-only>
            <ion-icon color="light"  name="mic"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <div class="ion-margin-top">
        <ion-button expand="block" color="primary">
          BOTON
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>