.divTab {
    width: 55px !important;
    height: 46px !important;
    display: contents;
    //background: #FAFAFA;
    text-align: center;
    border-radius: 50%;
    //box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05), -4px -4px 4px #FFFFFF;
    //box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.20), -4px -4px 4px #fafafa;
    //box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05), -4px -4px 4px #FFFFFF;
    ion-icon {
        margin-top: 2px;
        margin-bottom: 6px;
        font-size: 18px;
    }
    ion-label {
        font-size: 9px !important;
    }
}

ion-tab-bar {
    background: var(--ion-color-primary);
    box-shadow: 0px 2px 51px rgba(0, 0, 0, 0.2);
    height: 65px;
    border: none;
    ion-tab-button {
        background: var(--ion-color-primary);
    }
}
/*
.tabAct {
    background: var(--ion-color-primary);
    opacity: 0.8;
    border-radius: 6px !important;
    width: 55px !important;
    height: 46px !important;
    display: block !important;
    ion-icon {
        margin-top: 12px !important;
        margin-bottom: 0 !important;
        text-align: center !important;
        //margin-left: 0px !important;
        font-size: 22px !important;
    }
}
*/
.helpTabs {
    display: none;
}
.tabHelpCenter {
    width: 80px;
    height: 80px;
    background: white;
    position: relative;
    top: -37px;
    border-radius: 35px;
}
