<ion-content class="animated fadeIn login auth-page ion-padding bg">
  <div class="login-content bg">

    <!-- Logo -->
    <div class="ion-text-center animated fadeInDown" style="height: 80%;">
      <div class="logo">

      </div>

      <div class="divContent">
        <div class="help1">
          <ion-text color="tertiary">
            <h2 class="ion-text-center ion-no-margin titleHelp">
              Iniciar Sesión
            </h2>
          </ion-text>
        </div>
        <div>
          <!-- Login form -->
          <form [formGroup]="todo" (ngSubmit)="login()">
            <div class="ion-padding-horizontal labelHelp">
              <p>Código de Funcionario</p>
              <ion-input class="inputLigth ion-margin-bottom" type="text" formControlName="username" required>
              </ion-input>
              <p>Clave</p>
              <ion-input class="inputLigth ion-margin-top" clearOnEdit="false" type="password"
                formControlName="password" required></ion-input>
            </div>

            <!--</form> -->


            <div class="ion-text-center ion-padding buttonDiv">
              <ion-button color="primary" type="submit" [disabled]="!todo.valid" expand="block">
                <span style="font-size: 24px;">INGRESAR</span>
              </ion-button>
            </div>

          </form>
        </div>
      </div>
      <div class="divContentHelp">

      </div>


      <div class="textCR-load">
        <div class="ion-text-center" (click)="forgot()">
          <ion-text color="light">
            <p><span class="pass">Olvido la Clave? Solicite una nueva. </span></p>
          </ion-text>
        </div>
        <p>Copyright Software 2021</p>
      </div>
    </div>
  </div>
</ion-content>