.logo {
    width: 80%;
    margin: auto;
    //margin-bottom: 20px;
    border-radius: 10%;
    background-position: center;
    background-size: 100%;
    height: 20%;
    margin-top: 25px;
    background: url("../../assets/imgs/logoApp.svg") no-repeat;
}

.divContent {
    height: 80%;
    border-top-left-radius: 60px;
    background-color: white;
    position: relative;
}

.divContentHelpx:after {
    content: "";
    position: absolute;
    right: 22px;
    bottom: -32px;
    z-index: 20;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: rgb(184, 48, 48);
    border-left: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-right: -27px;
}

.divContentHelp {
    width: 55px;
    height: 55px;
    background: #ffffff;
    background: radial-gradient(circle 140px at -40% 50%, transparent, transparent 100px, #ffffff 100px),
        radial-gradient(circle 150px at 80% 50%, transparent, transparent 100px, #ffffff 100px);
    background-size: 66px 228px, 78px 178px;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    position: absolute;
    right: -9px;
    margin-top: -17px;
}

.login-content {
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background-image: url("../../assets/imgs/bgPrimary.png") !important;
}
ion-input {
    --placeholder-color: var(--ion-color-medium);
    --placeholder-opacity: 1;
}

.pass {
    font-size: 12px;
}
.labelRegister {
    font-size: 14px;
    color: var(--ion-color-primary);
}

.buttonDiv {
    margin-top: 50px;
}

.inputLigth {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 10px;
    height: 48px;
    font-size: 14px;
    position: relative;
    z-index: 10;
    color: var(--ion-color-primary);
}

.textCR {
    color: white;
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: 12px;
}
.textCR-load {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 14px;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.help1 {
    padding-top: 22px;
    padding-bottom: 40px;
}
